*{
    font-family: "inter";
}
#menu-superior{
    background-color: #303030;
width: 1400px;
height: 475px;
margin-top: 0px;
}
#titulomenu-superior{
    size: 60px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 72px;
    width: 1024px;
    left: 62px;
    padding-top: 225px;
    padding-left: 50px;

}
#titulo2menu-superior{
    color:#FFFFFF;
    size: 20px;
    font-weight: 500;
    line-height: 28px;
    width: 1024px;
    left: 62px;
padding-left: 45px;
}
.bannersuperior{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-top: 170px;
    background-color: #f9f9f9;
    }
.textobanner{
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: black;
    width: 292px;
    height: 66.18px;
    margin-left: 130px;
}
span{
    font-size: 40px;
    font-weight: 600px;
    font-style: bold;
}
.textobannercentral{
    font-size: 24px;
    line-height: 30px;
    font-weight: 300px;
    display: grid;
    grid-auto-flow: column;
   columns: auto;
   text-align:justify;
   white-space:nowrap;
   margin-left: 30px;
  margin-top: -100px;
}
span{
    font-size: 40px;
    line-height: 20px;
    font-weight: 500;

    
}
#foto{
    width: 510px;
    height: 605px;
    top:781px;
    margin-left: 150px;
    border-radius: 30px;
    padding-top: 190px;
  
}
.textoinformativo{
    padding-top: 400px;
}
#formulario{
    text-align: center;
    width: 1440px;
    height:638px;
    top: 1478px;
    background-color: #303030;
    font-size: 32px;
    font-weight: 700px;
    line-height: 48px;
    color: #FFFFFF;
    padding-top: 50px;
}
input{
    width: 508px;
    height: 72px;
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 10px;
    font-family:"Raleway";
    font-size: 24px;
    line-height: 30px;
    padding-left: 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.301);
}
button{
    background-color:#C07212;
    font-family: "Raleway";
    width: 286px;
    height: 74px;
    top: 1955px;
    left: 577px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    cursor:pointer;
   
}
button:hover{
    background-color: #C07212;
    color: #FFFFFF;
    transform: translateY(-5px);
    transition-duration: 0,5s;
    box-shadow:none;
    border-color: #C07212;
}
