*{
    font-family: "inter";
    margin: 0px;
}
#menu-superior{
    background-color: #303030;
    height: 200px;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-left: 30px;
}
#titulomenu-superior{
    color: #FFFFFF;
    font-weight: 300;
    line-height: 72px;
    left: 62px;
    display: flex;
    flex-direction: column;
    font-size: 50px;
}
#titulo2menu-superior{
    color:#FFFFFF;
    size: 20px;
    font-weight: 500;
    line-height: 28px;
    width: 1024px;
    left: 62px;
    padding-left: 10px;
}
.bannersuperior{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding-top: 170px;
    background-color: #f9f9f9;
    padding-top: 100px;
    }
.textobanner{
    align-items: center;
    font-size: 10px;
    line-height: 20px;
    color: black;
    margin-left: 130px;
}
span{
    font-size: 5px;
    font-weight: 5px;
    font-style: bold;
}
.textobannercentral{
    font-size: 15px;
    line-height: 20px;
    text-align:justify;
    white-space:nowrap;
    margin-left: 30px;
    padding-top: 10px;
    margin-top: -200px;
    display: grid;
    grid-auto-flow: column;
    flex-direction: column;
}
span{
    font-size: 30px;
    line-height: 20px;
    font-weight: 200px; 
}
#foto{
    width: 300px;
    margin-left: 150px;
    border-radius: 30px;
    padding-top: 100px;
    display: grid;
    columns: auto;
    margin-top: 150px;
    padding-bottom: 40px;
}
.textoinformativo{
    padding-top: 400px;
}
#formulario{
    text-align: center;
    width: 1500px;
    height:300px;
    top: 1478px;
    background-color: #303030;
    font-size: 25px;
    font-weight: 700px;
    line-height: 48px;
    color: #FFFFFF;
    padding-top: 50px;
}
input{
    width: 200px;
    height: 42px;
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 10px;
    font-family:"Raleway";
    font-size: 15px;
    line-height: 20px;
    padding-left: 30px;
    font-weight: 300px;
    color: rgba(0, 0, 0, 0.301);
}
button{
    background-color:#C07212;
    font-family: "Raleway";
    width: 200px;
    height: 54px;
    top: 200px;
    left: 577px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 50px;
    text-align: center;
    cursor:pointer;
}
button:hover{
    background-color: #C07212;
    color: #FFFFFF;
    transform: translateY(-5px);
    transition-duration: 0,5s;
    box-shadow:none;
    border-color: #C07212;
}
